<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Team analysis</title>
    <script src="https://kit.fontawesome.com/884dceafcb.js" crossorigin="anonymous"></script>
</head>


<body>

    <div class="topnav">
       <p class="progress">Team Analysis</p> 
    </div>
    <div class="head">
        <h1 class="head1"><a href="/">CYBER SECURITY</a></h1>
        <p class="welcome">Welcome to the team analysis</p>
        <script>
            document.write(Date());
        </script>
    </div><br><br>
 <p class="team"> <%= model %> </p>

 <table>
     <tr class="table_header">
         <th>Team Name</th>
         <th>Knowledge Requirements</th>
         <th>Skills Requirements </th>
         <th>Abilities Requirements</th>
     </tr>

     
     <tr>
         <td class="metric"> <i class="fas fa-bullseye"></i> Goal</td>
         <td id="kr"><%=model1[0].K_Req%></td>
         <td id="sr"><%=model1[0].S_Req%></td>
         <td id="ar"><%=model1[0].A_Req%></td>
     </tr>
     <tr>
         <td class="metric"> <i class="fas fa-clock"></i> Current</td>
         <td id="tks"><%=model3%></td>
         <td id="tss"><%=model4%></td>
         <td id="tas"><%=model5%></td>
     </tr>

     <script>
        //Knowledge
        if (document.getElementById('tks').innerHTML >= document.getElementById('kr').innerHTML) {
           document.getElementById('tks').style.backgroundColor = "chartreuse";             
        }else{
           document.getElementById('tks').style.backgroundColor = " #ff3333";
        }
        //Skills
        if (document.getElementById('tss').innerHTML >= document.getElementById('sr').innerHTML) {
           document.getElementById('tss').style.backgroundColor = "chartreuse";             
        }else{
           document.getElementById('tss').style.backgroundColor = " #ff3333";
        }
        //Abilities
        if (document.getElementById('tas').innerHTML >= document.getElementById('ar').innerHTML) {
           document.getElementById('tas').style.backgroundColor = "chartreuse";             
        }else{
           document.getElementById('tas').style.backgroundColor = " #ff3333";
        }
    </script>

 </table><br>

 <br>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th>Name of member  </th>
        <th>K Score (100)</th>
        <th>S_Score (100)</th>
        <th>A_Score (100)</th>
        <th id="reg">CTS (100)</th>
        <th id="reg">Cybersecurity (100)</th>
        <th id="reg">Networks (100)</th>
        <th id="reg">Presentation (100)</th>
        <th id="reg">EA (100)</th>
        <th id="reg">Technical Skills (100)</th>
    </tr>    
        <% for(let j = 0; j < model2.length; j++) { %>
            <tr>
                <td> <%=model2[j].Name%> </td>
                <td class="k"><%=model2[j].K_Score%></td>
                <td id="s>"><%=model2[j].S_Score%></td>
                <td id="a"><%=model2[j].A_Score%></td>
                <td id="cts"><%=model2[j].Communication_and_Teaching_skills%></td>
                <td id="cyber"><%=model2[j].Cybersecurity%></td>
                <td id="networks"><%=model2[j].Networks%></td>
                <td id="present"><%=model2[j].Presentation%></td>
                <td id="ea"><%=model2[j].EA%></td>
                <td id="ts"><%=model2[j].Technical_skills%></td>
            </tr>
            <% %>

            <script>
                if (document.getElementById("kr").innerHTML > document.getElementsByClassName("k").innerHTML ) {
                    document.getElementsByClassName("k").style.color = "red";
                } else {
                    document.getElementsByClassName("k").style.color = "green";
                }
            </script>
            
            <% } %>
            
    
</table>
</div>
<br><br>
<a href="/certification_and_credentials_results"><button class="button"><i class="fas fa-tools"></i> Recommendations</button></a>
</body>
</html>